.user-profile-img-div {
    position: relative;
    content: "";
    display: block;
    padding-bottom: 100%;
}
.user-profile-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
